<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <div id="app" v-cloak>
        <h1>Todo App</h1>

        <div>
            <input type="text" v-model="new_todo" placeholder="add todo">
            <button v-on:click="addTodo( )">add</button>
        </div>

        <ul id="todos">
            <li class="todo" v-for="(todo, index) in todos">
                <input type="checkbox" v-model="todo.completed">
                <p 
                    v-bind:class="{ completed: todo.completed }"
                    v-on:dblclick="todo.editing = true"
                    v-if="!todo.editing">
                    {{ todo.name }}
                </p>
                <input 
                    type="text"
                    v-if="todo.editing"
                    v-model="todo.name"
                    v-on:keyup.enter="todo.editing = false" >
                <button v-on:click="deleteTodo( index )">delete</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="code.js"></script>
</html>