<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <div id="app" v-cloak>
        <h1>Todo App</h1>

        <div>
            <input type="text" v-model="new_todo" placeholder="edit me">
            <button v-if="editing" v-on:click="saveTodo( )">save</button>
            <button v-else v-on:click="addTodo( )">add</button>
        </div>

        <ul id="todos">
            <li class="todo" v-for="(todo, index) in todos">
                <input type="checkbox" v-model="todo.completed">
                <p v-bind:class="{ completed: todo.completed }">{{ todo.name }}</p>
                <button v-on:click="editTodo( todo )">edit</button>
                <button v-on:click="deleteTodo( index )">delete</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="code.js"></script>
</html>