<!DOCTYPE html>
<html>
    <head>
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"> -->
        <link rel="stylesheet" href="style.css">
    </head>

    <div id="app" v-cloak>
        <!-- v-toolbar eventually -->
        <div>A Collector's Blog</div>
        <button v-on:click="page = 'blog'">blog</button>
        <button v-on:click="page = 'post'">post</button> <br>

        <div v-if="page == 'blog'">
            <select v-model="selected_category">
                <option 
                    v-for="category in categories"
                    v-bind:value="category">
                    {{category}}
                </option>
            </select>
            {{selected_category}}
            <div v-for="post in sorted_posts">
                <img v-bind:src="post.image" width="300" height="300" />
                <div>{{post.title}}</div>
                <div>{{post.author}}</div>
                <div>{{post.category}}</div>
                <div>{{post.text}}</div>
                <div>{{post.date}}</div>
            </div>
        </div>

        <div v-if="page == 'post'">
            POST PAGE
        </div>

        <!-- <v-app>
            <v-content>
            </v-content>
        </v-app> -->
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script> -->
    <script src="code.js"></script>
    </html>





    <!-- <v-btn :loading="loading" @click="loading = !loading">click me</v-btn>
    <v-btn dark>click me</v-btn>
    <v-btn dark color="red">click me</v-btn>
    <v-btn depressed>click me</v-btn>
    <v-btn fab>hi</v-btn>
    <v-btn flat>click me</v-btn>
    <v-btn icon dark v-on:click="alert('you liked the photo')">
        <v-icon color="red">favorite</v-icon>
    </v-btn>
    <v-btn large>click me</v-btn>
    <v-btn small>click me</v-btn>
    <v-btn fab dark color="teal">
        <v-icon dark>list</v-icon>
    </v-btn>

    <div class="teal lighten-3 lime--text text--darken-2">Hello</div>
    <div class="display-4 text-uppercase font-weight-black">This is my sentence.</div>
    <div class="display-3 font-weight-bold">This is my sentence.</div>
    <div class="display-2 font-weight-medium">This is my sentence.</div>
    <div class="display-1 font-weight-thin">This is my sentence.</div>
    <div class="headline text-capitalize">This is my sentence.</div>
    <div class="title text-uppercase">This is my sentence.</div>
    <div class="subheading">This is my sentence.</div>
    <div class="body-2">This is my sentence.</div>
    <div class="body-1">This is my sentence.</div>
    <div class="caption">This is my sentence.</div>

    <v-container grid-list-lg>
        <v-layout>
            <v-flex xs6 lg3>
                <v-card color="blue">
                    <v-card-text>6</v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs6 lg9>
                <v-card color="blue">
                    <v-card-text>6</v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container> -->